.products-list {
  height: 100%;
  max-height: 100%;

  &__management {

    height: 70px;

    .buttons-line {
      display: flex;
      align-items: center;
      height: 70px;
      padding: 10px 20px;
    }

    .filters-line {
      height: 70px;
    }
  }

  &__list {
    margin: auto;
    padding: 0 20px 20px 20px;
    height: calc(100% - 70px);

    &__item {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      height: 240px;
      width: 300px;
      float: left;
      padding: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      border: 1px solid #e5e7eb;

      &__top {
        height: 80%;
        display: flex;

        &__left {
          width: 50%;
          img {
            width: 50%;
          }
        }

        &__right {
          width: 50%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &__bottom {
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        //
        //>button {
        //  background-color: #facc15;
        //}
        //
        //>button:hover {
        //  color: #fff;
        //}
      }



      .price {
        font-weight: 700;
      }

      .show {
        background-color: rgb(250,204,21);
      }

      .hide {
        background-color: rgb(96,165,250);
      }
    }

    &__item:last-child {
      margin-bottom: 0;
    }
  }

}
