.products-list {

  &__management {

    .buttons-line {
      display: flex;
      align-items: center;
      height: 70px;
      padding: 10px 20px;

      >button {
        background-color: #facc15;
      }

      >button:hover {
        color: #fff;
      }
    }

    .filters-line {
      height: 70px;
    }
  }

  &__list {
    max-width: 50%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    &__item {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #e5e7eb;

      img {
        width: 15%;
      }

      .price {
        font-weight: 700;
      }

      .show {
        background-color: rgb(250,204,21);
      }

      .hide {
        background-color: rgb(96,165,250);
      }
    }

    &__item:last-child {
      margin-bottom: 0;
    }
  }

}
