.modal {

  &__hide {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
  }

  &__message {
    position: fixed;
    top: 40px;
    background-color: #fff;
    //border-radius: 10px;
    width: 500px;
    left: calc(50% - 250px);
    //padding: 20px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 45px;
      background-color: #eef2f6;
      border-bottom: 1px solid #e7e9eb;
      padding: 0 20px;
      &__title {
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        font-weight: 600;

        //margin-bottom: 10px;
      }

      .icon {
        font-size: 18px;
        color: #707d91;
        cursor: pointer;
      }

      .icon:hover {
        color: #333d4c;
      }
    }

    &__content {
      padding: 20px;
    }


  }

}
